$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-base: 'Georgia', serif;
$headings-font-family: 'Lato', sans-serif;

$brand-primary: #00AEEF;
$brand-black: #231F20;
$text-color: $brand-black;
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import url('https://fonts.googleapis.com/css?family=Asap:400,700%7CLato:400,700');
