@import "variables.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

#logo.logo31 {
    padding-top: 6px;
	font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 3em;
    text-transform: none;
    a{
        text-decoration: none;    
        color: #000;
    }
    a:hover {
        color: #000;
    }
}

#main-slider.flexslider31 {
    margin-bottom: 20px;
    position: relative;
    img {
        border-bottom: 3px solid #333;
    }
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

input {
    width: 100% !important;
}

a.read-more-btn.btn-big {
    font-size: 25px;
}

#form-wrapper {
    min-height: 600px;
    padding-top: 40px;
    padding-bottom: 40px;
    .h1 {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
    input {
        height: 40px !important;
        font-size: 1.5em;
    }
    label {
        font-size: 1.2em;
    }
}

table#ranking {
    width: 100%;
    margin-top: 50px;
    th {
        font-weight: bold;
    }
}

.red { 
    color: #e15154;
}

.profile-info {
    margin-top: 10px;
    .profile-item {
        font-size: 30px;
        line-height: 30px;
    }
}

p {
    font-size: 30px !important;
    line-height: 35px !important;
}
