<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('assets/build/vendor.js', 'webpack') }}"></script>
        <script src="{{ asset('assets/build/main.js', 'webpack') }}"></script>
        {#{% if use_webpack_dev_server %}
        <link rel="stylesheet" href="{{ asset('assets/build/stylesheets/main.css') }}">
        {% endif %}#}
</head>
    <body>
    {% block body %}
        
	<header id="header-global" role="banner">
	
		<div class="container">
			
			<div class="row">
		
				<div class="header-logo three columns">
					
					<div id="logo"><a href="index.html" title="Golden"><img src="/assets/img/golden_header_logo.png" width="62" height="62" alt="Header Logo" /></a></div>
				  	
				</div>
				
			</div><!-- end .row -->
		
	</header><!-- end #header-global -->
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
    {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
