<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald">
        <script src="{{ asset('/assets/build/vendor.js', 'webpack') }}"></script>
        <script src="{{ asset('/assets/build/main.js', 'webpack') }}"></script>
        {#{% if use_webpack_dev_server %}
        <link rel="stylesheet" href="{{ asset('/assets/build/stylesheets/main.css') }}">
        {% endif %}#}
</head>
    <body>
    {% block body %}
        
	<header id="header-global" role="banner">
	
		<div class="container">
			
			<div class="row">
		
				<div class="three columns">
					
					<div id="logo" class="logo31"><a href="/" title="treinta3y1uno">treinta3y1uno</a></div>
				  	
				</div>
				
			</div><!-- end .row -->
		
	</header><!-- end #header-global -->

		<section id="content-slider">
		
		  		<div id="main-slider" class="flexslider31">
				    
				    <ul class="slides">
				    
				        <li><a href=""><img class="img-responsive" src="/assets/img/basterdsBW.jpg" alt="" /></a>
				        	<div class="flex-caption">
					        	<div class="details">
					        		<h1 class="flex-title"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><br /><span>La última noche... del año</span></h1>
					        		<p> </p>
					        		<a class="read-more-btn" href="about-us.html">Entrar &rarr;</a>
					        	</div>
					        </div>
				        </li>
				        
				    </ul><!-- end .slides -->
		  		
		  		</div><!-- end #main-slider -->
			
		</section><!-- end #content-slider -->
		
		<section id="introduction">
		
			<div class="container">
		
				<div class="row">
				
					<div class="sixteen columns">
					
                        <p><strong>Praga, 31 de diciembre de 1941</strong></p>
                        <p>
                        La ciudad está ocupada por los nazis y la resistencia checa ha quedado reducida a unos cuantos grupos desorganizados. La condesa de Drahokoupil celebra una fiesta en honor al nuevo régimen, jugando su papel de perfecta aliada local. No obstante, su verdadera motivación apunta en una dirección muy distinta...
                        </p>
                        
				
					</div><!-- end .sixteen columns -->
			
				</div><!-- end .row -->
		
			</div><!-- end .container -->
		
		</section><!-- end #introduction -->
		
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
    {% endblock %}
	<footer id="footer-global" role="contentinfo" class="clearfix">
				
		<div id="contact-details">
		
			<div class="container">
		
				<div class="one-third column">
				
					<h3>Localización</h3>
					
					<p>Club Foster's<br />
					Santa Eulalia, Murcia</p>
				
				</div>
				
				<div class="one-third column">
				
					<h3>Contacto</h3>
					
					<p>nochevieja31@gmail.com</p>
				
				</div>
				
			</div><!-- end .container -->
		
		</div><!-- end #contact-details -->
	
		<div class="container">
	
			<div class="sixteen columns">
		  	  
	  			<p id="copyright-details">&copy;2016. Treinta3y1Uno</p>
	  		
	  		</div>	  
		  	
		</div><!-- end .container -->
		
	</footer><!-- end #footer-global -->
	
	<div id="back-to-top" style="display: block;">
				
		<a href="#"></a>
			
	</div><!-- end #back-to-top -->
        {% block javascripts %}{% endblock %}
    </body>
</html>
