{% extends 'base.html.twig' %}

{% block content %}

		<section id="content-slider">
		
		  		<div id="main-slider" class="flexslider31">
				    
				    <ul class="slides">
				    
				        <li><a href=""><img class="img-responsive" src="/assets/img/basterdsBW.jpg" alt="" /></a>
				        	<div class="flex-caption">
					        	<div class="details">
					        		<h1 class="flex-title"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><br /><span>Praga, 31 diciembre 1941</span></h1>
					        		<p> </p>
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    <a class="read-more-btn btn-big" href="{{ path('list') }}">Invitados &rarr;</a>
                                    {% else %}
                                    <a class="read-more-btn btn-big" href="{{ path('fos_user_security_login') }}">Entrar &rarr;</a>
                                    {% endif %}
					        	</div>
					        </div>
				        </li>
				        
				    </ul><!-- end .slides -->
		  		
		  		</div><!-- end #main-slider -->
			
		</section><!-- end #content-slider -->
		
		<section id="introduction">
		
			<div class="container">
		
				<div class="row">
				
					<div class="sixteen columns">
					
                        <p>La ciudad está ocupada por los nazis</p><p>y la resistencia checa ha quedado reducida a unos cuantos grupos desorganizados. La condesa de Drahokoupil celebra una fiesta en honor al nuevo régimen, jugando su papel de perfecta aliada local. No obstante, su verdadera motivación apunta en una dirección muy distinta...
                        </p>
                        
				
					</div><!-- end .sixteen columns -->
			
				</div><!-- end .row -->
		
			</div><!-- end .container -->
		
		</section><!-- end #introduction -->
	<div id="main">
	
		<section id="latest-work">
				
			<div class="container">
				
				<header class="section-heading row">
								
					<div class="sixteen columns">
	
						<i class="icon-star-empty icon-large"></i>
						<h1><span>Infiltrados</span></h1>
                        <p><strong>Entre los cientos de invitados</strong>, acudirá al evento un comando especial que ha conseguido infiltrarse en la ciudad, con el único y claro objetivo de llevarse por delante a un alto cargo del régimen, que también se encontrará en la fiesta. Sin embargo, ha surgido un imprevisto de última hora, y resulta vital hacer llegar cierta información a ese grupo de valientes. La condesa está al tanto de los detalles de la misión, pero incluso ella desconoce la identidad de los sujetos.</p>

					</div>
									
					<div class="sixteen columns">
	
						<i class="icon-star-empty icon-large"></i>
						<h1><span>Tu misión</span></h1>
                        <p><strong>Estás invitado a la fiesta y se te ha encargado</strong> la difícil tarea de conseguir identificar a los miembros del comando e impedir con ello el fracaso de la misión. En tus manos está el destino de la ciudad, y de Europa.</p>

					</div>
				</header>
	
			</div><!-- end .container -->

		</section><!-- end #latest-work -->
		
	</div><!-- end #main -->
	
{% endblock %}
